body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
    
}

#customized-dialog-title{

  color: white !important
}
.MuiTypography-body1-62{
  font-family: 'Montserrat'!important
}

.MuiTypography-h5-69{
  font-family: 'Montserrat'!important
}